HELP.md
*.settings
*.classpath
*.project
*.bak
*.class
target
.sass-cache
*.log
bin/**
.idea/**
*.iml
submode
**/.externalToolBuilders
love-service.jar
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
